@model Restaurant.ViewModel.EmployeeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.PageTitle;
}


<h1> This is from Views/Employee/Detils.cshtml</h1>

<h2>
    Id : @Model.Employee.Id
</h2>

<h2>
    Name : @Model.Employee.Name
</h2>

<h2>
    EmailId : @Model.Employee.Email
</h2>

<h2>
    Department : @Model.Employee.Department
</h2>
